@import "../../scss/spacings";

.home-component-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: $spacing-4-5;


  .menu-wrapper {
    display: flex;
    align-items: center;

    .menu-right {
      margin-left: auto;
      margin-right: $spacing-4;
    }
  }
}
